.search-input_inputgroupinput {
  height: 100%;
  &::-webkit-search-cancel-button {
    appearance: none;
  }
}
.u-h-12 {
  height: calc(var(--spacing) * 12);
}
.u-size-11 {
  width: calc(var(--spacing) * 11);
  height: calc(var(--spacing) * 11);
}
.search_p {
  margin-top: calc(var(--spacing) * 3);
  line-height: var(--leading-relaxed);
  color: var(--muted-foreground);
}
.search_p-2 {
  border-radius: calc(var(--radius) + 4px);
  border-style: solid;
  border-width: 1px;
  border-color: var(--border);
  padding: calc(var(--spacing) * 5);
  font-size: var(--text-sm);
  line-height: var(--text-sm--line-height);
}
.search_search {
  display: flex;
  min-width: 0px;
  flex-direction: column;
  gap: calc(var(--spacing) * 4);
}
.search_search-status {
  margin-top: calc(var(--spacing) * 4);
  font-size: var(--text-sm);
  line-height: var(--text-sm--line-height);
  color: var(--muted-foreground);
}
.search_p-3 {
  margin-top: calc(var(--spacing) * 4);
  font-size: var(--text-sm);
  line-height: var(--text-sm--line-height);
}
